.form-input {

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid $border-color;
    padding: 15px 20px;
    gap: 10px;
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    margin-left: 4px;

    input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__error {
    color: $accent-color;
    font-weight: 400;
    line-height: 20px;
    margin-left: 8px;
    min-height: 20px;
    font-size: 14px;
    text-align: left;
  }
}