<section class="about-row route">
  <h1 class="route__title">So <span>who</span> are we exactly?</h1>
  <img
    ngSrc="assets/icons/route.svg"
    width="275"
    height="382"
    alt=""
  >
</section>
<section class="about-row">
  <p>
    TicketBooker is an online platform for <strong>purchasing tickets</strong> to concerts, movies or flights
    internationally.
    Our services make it easy to book tickets from several booking websites and make them available in one place,
    in a <strong>single transaction</strong>, whether you are in the UK, the USA or Europe.
    <strong>No fees</strong> are charged at the point of purchase
    or after your event has ended.
  </p>
  <img
    src="assets/icons/ticket.svg"
    alt=""
  >
</section>
<section class="about-row">
  <img
    src="assets/icons/world.svg"
    alt=""
  >
  <p>
    TicketBooker operates in all <strong>EU countries, Iceland, Norway and Switzerland.</strong>
    The founding team of TicketBooker was made up of entrepreneurs from London, Oslo and Paris.
    The company now employs <strong>120 people</strong>. The service’s technical platform has a back-end computer
    server with support of Citrix/Dell shared network servers and database.
  </p>
</section>
<section class="about-row">
  <p>
    In September 2015, TicketBooker partnered with <strong>Worldline</strong>, one of Europe’s leading provider of
    payment services,
    for TicketBooker’s European ticket booking services, allowing the company to <strong>expand its presence</strong>
    to 2,500+ Live Nation & AXS corporate clients as well as 20,000+ independent music venues and promoters.
    TicketBooker has recieved <strong>$1.3m</strong> in funding from City Index Ventures in May 2014.
  </p>
  <img
    src="assets/icons/chart.svg"
    alt=""
  >
</section>