<div class="hero">
  <div class="hero__content">
    <h1 class="hero__title">
      Book tickets
      anywhere, all in <span class="hero__title--one-place">one place</span>
    </h1>
    <div class="hero__search-tickets">
      <app-search-tickets />
    </div>
    <button routerLink="/tickets">
      <span>
        Find tickets
      </span>
      <img
        ngSrc="/icons/arrow-left.svg"
        alt=""
        width="34"
        height="20"
      >
    </button>
  </div>
  <img
    alt=""
    width="422"
    height="520"
    ngSrc="/images/tickets.png"
  >
</div>