$accent-color: #DD4255;

$primary-color: #222;

$secondary-color: #2222227F;

$secondary-light-color: rgba(34, 34, 34, 0.5);

$border-color: #DBDBDB;

$background-color: #F9F9F9;

$foreground-color: #FFF;

$screen-xs: 320px;

$screen-sm: 480px;

$screen-md: 768px;

$screen-lg: 1024px;

$screen-xl: 1200px;