.search-tickets {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;

  &__title {
    font-size: 20px;
    line-height: 24px;
    color: $secondary-light-color;
  }

  &__inputs {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}