.submit-btn {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent-color;
    border-radius: 15px;
    width: 100%;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    color: $foreground-color;
    cursor: pointer;
    height: 55px;

    img {
        margin-left: 20px;
    }
}