<div class="tickets-heading">
  <h1 class="tickets-heading__title">
    Find tickets
  </h1>
  <div class="filter">
    <div class="filter__title">Filters</div>
    <div class="filter__list">
      <div class="filter__item">
        <img
          ngSrc="/icons/close-circle.svg"
          alt=""
          width="20"
          height="20"
        >
        <span class="filter__item--label">Movie</span>
      </div>
      <div class="filter__item">
        <img
          ngSrc="/icons/close-circle.svg"
          alt=""
          width="20"
          height="20"
        >
        <span class="filter__item--label">23/12/2022</span>
      </div>
      <div class="filter__item">
        <img
          ngSrc="/icons/close-circle.svg"
          alt=""
          width="20"
          height="20"
        >
        <span class="filter__item--label">Prishtinë</span>
      </div>
    </div>
  </div>
</div>