@import "../../../../assets/scss/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 80px;

  ul {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 18px;

    li {
      color: $primary-color;
    }
  }

  .copyright {
    color: $secondary-light-color;
  }

  .socials {
    gap: 20px;
  }

  .terms {
    margin-left: 40px;
  }
}
