<footer class="container">
  <p class="copyright">Copyright © 2022 TicketBooker. All rights reserved.</p>
  <ul class="socials">
    <li>
      <img  ngSrc="/icons/instagram.svg" alt="" width="21" height="20">
    </li>
    <li>
      <img ngSrc="/icons/linkedin.svg" alt="" width="21" height="20">
    </li>
    <li>
      <img ngSrc="/icons/twitter.svg" alt="" width="21" height="20">
    </li>
  </ul>
  <ul>
    <li [routerLink]="privacyPolicyUrl">
      Privacy Policy
    </li>
    <li class="terms" [routerLink]="termsAndConditionsUrl">
      Terms of Use
    </li>
  </ul>
</footer>
