.loader {
    height: 20px;
    width: 20px;
    border: 1px solid $foreground-color;
    border-bottom: none;
    border-top: none;
    border-radius: 100%;
    animation: spin 700ms infinite linear;
}


@keyframes spin {

    100% {
        transform: rotate(360deg);
    }
}