.faq {
  max-width: 700px;
  margin: 60px auto;

  &__title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: $secondary-light-color;
    margin-top: 15px;

    span {
      color: $accent-color;
    }
  }

  &__info {
    margin-top: 20px;
  }

  .accordion {
    margin-top: 60px;
  }
}